<%= form_for(video) do |f| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :iframe %>
    <%= f.text_area :iframe, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :type %>
    <br>
    <div class="content-type">
    <%= f.radio_button :type, 'Youtube', :checked => true, class: "form-check-input" %>
    <%= f.label :type, 'Youtube', :value => 'Youtube' %>
    <br>
    <%= f.radio_button :type, 'Facebook', class: "form-check-input" %>
    <%= f.label :type, 'Facebook', :value => 'Facebook' %>
  </div>
  </div>

  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
